@font-face {
  font-family: "TT Uzum";
  src: url("./TTUzumBlack.ttf") format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "TT Uzum";
  src: url("./TTUzumExtraBold.ttf") format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "TT Uzum";
  src: url("./TTUzumBold.ttf") format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "TT Uzum";
  src: url("./TTUzumDemiBold.ttf") format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "TT Uzum";
  src: url("./TTUzumMedium.ttf") format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TT Uzum";
  src: url("./TTUzumRegular.ttf") format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TT Uzum";
  src: url("./TTUzumLight.ttf") format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "TT Uzum";
  src: url("./TTUzumExtraLight.ttf") format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "TT Uzum";
  src: url("./TTUzumThin.ttf") format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 100;
}
